@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    font-family: var(--FONT);
}

a {
    text-decoration:none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

body{
    overflow-x: hidden;
}


/* VARIABLES */
:root {
    /* FONT */
    --FONT: "Poppins", sans-serif;

    /* COLORS */
    --DARKCOLOR: #070707;
    --BLUECOLOR: #34D1BF;
    --DARKBLUECOLOR: #3454D1;
    --WHITE: #FFF;
    --BRIGHTCOLOR: #EFEFEF;
    --REDCOLOR: #D1345B;
    --REDCOLORLO: hsla(345, 63%, 51%, 0.6);
    --BEIGECOLOR: antiquewhite;

    /* GENERAL */
    --BOXPADDING: 0.7em;
}

/* || GENERAL STYLES */
header {
    background-color: var(--DARKBLUECOLOR);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo-webtitle {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.logo-webtitle:hover {
    cursor: pointer;
}

header img {
    display: block;
    align-self:center;
    width: 35px;
}

.header-webtitle {
    color: var(--WHITE);
    font-size: 1rem;
    font-weight: bold;
}

input {
    display: none;
}

ul, li {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.3rem;
}

.header-nav {
    color: var(--WHITE);
    text-align: center;
    text-decoration: underline;
}

.cover {
    background-color: var(--BLUECOLOR);
    height: clamp(300px, 30vw, 600px);
    background: url(https://images.unsplash.com/photo-1561041618-b0883669c077?q=80&w=2094&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .cover :is(h1, p) {
    color: var(--WHITE);
  }
  
  .cover h1 {
    line-height: 5rem;
    font-size: 5rem;
  }
  
  .br-mobile {
    display: block;
    line-height: 0px;
  }
  
  .cover p {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
.cta-about {
    font-size: 1rem;
    margin-top: 20px;
    padding: 5px 8px;
    border: none;
    border-radius: 14px;
    background-color: var(--REDCOLORLO);
    color:var(--WHITE);
    transition: 0.2s ease-in-out;
}

.cta-about:hover, .cta-about:active {
    background-color: var(--REDCOLOR);
}

.cta-about:active {
    background-color: var(--REDCOLOR);
    transition: 0s;
}

.genre-title {
    text-align: center;
    margin: 20px;
    font-size: 1.3rem;
    color: var(--DARKCOLOR);
}
.genre-nav-container {
    margin: 30px;
    margin-top: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: clamp(90px, 20vw, 200px);
    gap: 1em;
    grid-template-areas:
    "p p h"
    "p p h"
    "s s a";
}

.nav-button, .genre-box {
    border-radius: 10px;
    transition: 0.2s linear;
}

.nav-button:hover, .nav-button:active {
    /* box-shadow: 0px 0px 20px -5px #070707; */
    transform: scale(102%, 102%);
    z-index: 0;
}

.genre-nav-container .nav-button:first-child {
    background: url(https://images.unsplash.com/photo-1577349516274-37ff88a53627?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: cover;
    grid-area: p;
}

.genre-nav-container .nav-button:nth-child(2) {
    background: url(https://images.unsplash.com/photo-1596854372407-baba7fef6e51?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center top;
    background-size: cover;
    grid-area: h;
}

.genre-nav-container .nav-button:nth-child(3) {
    background: url(https://images.unsplash.com/photo-1596854307943-279e29c90c14?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: 130%;
    grid-area: s;
}

.genre-nav-container .nav-button:last-child {
    background: url(https://images.unsplash.com/photo-1574158622682-e40e69881006?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: cover;
    grid-area: a;
}

.genre-box {
    display: grid; 
    height: 100%;
    align-items: center;
    text-align: center;
    color: var(--WHITE);
    font-size: 1rem;
    font-weight:500;
    background-color: hsla(0, 0%, 0%, 0.3);

}







  

