@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F0ED;
    font-family: poppins;
    overflow-x: hidden;

}

header {
    background-color: #2B4570;
    text-align: center;
    padding: 2rem;
}

header h1 {
    color: #FFF;
    font-size: 5rem;
}

header h2 {
    color:#E49273;
}

.navigation-container {
    background: #2B4570;
    padding-inline: 10px;
    padding-bottom: 10px;
    text-align: center;

}

.main-navigation {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    border: none;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #1A1C1C;
    font-size:larger;
    text-decoration:underline;
    box-shadow: 0px 5px 10px #0A0B0B;
    transition: 0.3s ease-out;
}

.main-navigation:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px #0A0B0B;
}


#story-cat {
    width: 50%;
    min-width: 75px;

    display: block;
    position: sticky;
    margin: auto;
}

#health-cat {
    width: 37.5%;
    min-width: 75px;
    display: block;
    position: sticky;
    margin: auto;
}

#care-cat {
    width: 50%;
    min-width: 75px;
    display: block;
    position: sticky;
    margin: auto;
}

#product-cat {
    width: 75%;
    min-width: 75px;
    display: block;
    position: sticky;
    margin: auto;
}

.featured-container {
    padding: 30px 4%;
    text-align: center;
    line-height: 1.8rem;
}

.featured-container h2 {
    padding-bottom: 1rem;
}

.featured-content-one, .featured-content-two {
    display: inline-block;
    background-color: #FFF;
    padding: 40px;
    width: 42%;
    min-width: 470px;
    margin: 5px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -5px #59514f;
    transition: 0.3s ease-out;
}

.featured-content-one:hover, .featured-content-two:hover {
    box-shadow: 0px 0px 15px #59514f;
}

.featured-button {
    text-align: end;
    margin-top: 1rem;
}

.featured-button a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: #E49273;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    padding-inline: 10px;
    box-shadow: 0px 2px 4px #59514f;
    transition: transform 0.2s ease-out;

}


.featured-button a:hover {
    background-color: #2B4570;
    transform: translateY(-2px);
    box-shadow: 0px 4px 6px #59514f;
}

.subpage-reference a {
    color: #E49273;
}

.storysp, .healthandwellnesssp, .caretipssp, .productreviewsp {
    background-color: #2B4570;
    margin: 20px;
    margin-inline: 7%;
    padding: 25px;
    border-radius: 15px;
    color: #fff;
}



