@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    font-family: var(--FONT);
}

a {
    text-decoration:none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

body{
    overflow-x: hidden;
}


/* VARIABLES */
:root {
    /* FONT */
    --FONT: "Poppins", sans-serif;

    /* COLORS */
    --DARKCOLOR: #070707;
    --BLUECOLOR: #34D1BF;
    --DARKBLUECOLOR: #3454D1;
    --WHITE: #FFF;
    --BRIGHTCOLOR: #EFEFEF;
    --REDCOLOR: #D1345B;
    --REDCOLORLO: hsla(345, 63%, 51%, 0.6);

    /* GENERAL */
    --BOXPADDING: 0.7em;
}

/* || GENERAL STYLES */
header {
    background-color: var(--DARKBLUECOLOR);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.logo-webtitle {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.logo-webtitle:hover {
    cursor: pointer;
}

header img {
    display: block;
    align-self:center;
    width: 35px;
}

.header-webtitle {
    color: var(--WHITE);
    font-size: 1rem;
    font-weight: bold;
}

input {
    display: none;
}

ul, li {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.3rem;
}

.header-nav {
    color: var(--WHITE);

    text-align: center;
    text-decoration: underline;
}

.cover {
    background-color: var(--BLUECOLOR);
    height: clamp(300px, 30vw, 600px);
    background: url(https://images.unsplash.com/photo-1561041618-b0883669c077?q=80&w=2094&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .cover :is(h1, p) {
    color: var(--WHITE);
  }
  
  .cover h1 {
    line-height: 5rem;
    font-size: 5rem;
  }
  
  .br-mobile {
    display: block;
    line-height: 0px;
  }
  
  .cover p {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
.cta-about {
    font-size: 1rem;
    margin-top: 20px;
    padding: 5px 8px;
    border: none;
    border-radius: 14px;
    background-color: var(--REDCOLORLO);
    color:var(--WHITE);
}



